* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #090606;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;

}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
    /* Distribuir elementos con un espacio entre ellos */
    align-items: center;
    /* Alinear verticalmente al centro */
    padding: 10px 0;
    /* Espaciado interno */
    transform: translateY(-20px);
    /* Esto es para que el menu principal tenga un pequeno efecto al pasar el mouse encima  */
    animation: fadeInDown 1s ease forwards;
}

.navegacion-principal__menu,
.navegacion-principal__menu-derecha {
    display: flex;
    list-style: none;
    /* Quitar los puntos de lista */
    padding: 0;
    /* Quitar el padding por defecto */
    margin: 0;
    /* Quitar el margen por defecto */
    text-align: justify;

}

.navegacion-principal__menu li,
.navegacion-principal__menu-derecha li {
    margin-right: 20px;
    /* Espacio entre elementos de lista del menu*/
}

.navegacion-principal__menu a,
.navegacion-principal__menu-derecha a {
    color: #ffffff;
    /* Color blanco para los enlaces */
    text-decoration: none;
    /* Quitar subrayado de los enlaces */
    font-size: 16px;
    /* Tamaño de fuente para los enlaces */
}

.navegacion-principal__menu a:hover {
    /* aca es para darle un efecto de brillo a las letras del mnu cuando se pasa el mouse por encima  */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);
    font-size: 24px;

}


.cabecera,
banner-tarjetas-uno {
    display: grid;
    gap: 20px;
    width: 100%;
    /* Nuevo estilo para el ancho del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    position: relative;
}

.cabecera_imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* esto es para cubrir el contenedor */
    object-fit: cover;
    /* esto es para cubrir que la imagen quede por detras del contenido */
    z-index: -1;

}

.cabecera h2,
p,
a {
    display: flex;
    justify-content: center;
    text-align: justify;

}

.boton {
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    background-color: #6D6563;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.8);
}



.logo {
    /* aca es para darle el tamaño al logo y la animacion de que se mueva en circulo  */
    max-width: 120px;
    animation: moveInCircle 5s linear infinite;
}

.tarjetas-noticias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: end;
    width: 100%;
    margin-top: 30px;
    margin-right: 15px;
    gap: 20px;

}

.imgen_targetas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    position: relative;
    object-fit: cover;
}

.tarjetas-noticias__tarjeta h3,
p {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 10px;
}



.tarjetas-noticias__tarjeta a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    box-shadow: 5px 4px 8px rgb(255, 255, 255, 0.8);
    background-color: #6D6563;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.fa-angle-double-right {
    margin-left: 15px;
}

.tarjetas-noticias__tarjeta a :hover {
    /* Este hace efecto de iluminar y hacer mas grandes las flechas cuando se pasa el mouse */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);
    font-size: 24px;

}

.banner-tarjetas-uno {
    display: grid;
    gap: 20px;
    width: 100%;
    /* Nuevo estilo para el ancho del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    position: relative;
}

.imagen_central {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* esto es para cubrir el contenedor */
    object-fit: cover;
    /* esto es para cubrir que la imagen quede por detras del contenido */
    z-index: -1;
}

.banner-tarjetas-uno h2,
p,
a {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.tarjetas-noticias_central {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    width: 100%;
    margin-top: 30px;
    margin-right: 15px;
    gap: 20px;
}

.imagen_targetas_central {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    position: relative;
    object-fit: cover;
}

.tarjetas-noticias_central a {
    display: flex;
    align-content: center;
}


.banner-tarjetas-dos {
    display: grid;
    gap: 20px;
    width: 100%;
    /* Nuevo estilo para el ancho del contenedor */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    position: relative;
}

.imagen_baner2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* esto es para cubrir el contenedor */
    object-fit: cover;
    /* esto es para cubrir que la imagen quede por detras del contenido */
    z-index: -1;

}

.banner-tarjetas-dos h2,
p,
a {
    display: flex;
    justify-content: center;
    text-align: justify;

}

.boton-tagetas-doble {
    height: 10px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    background-color: #6D6563;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.8);
}

.boton_targetas2 {
    margin: 0 auto;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    background-color: #6D6563;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.8);
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.social__enlaces {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social__enlaces a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.enlaces-pie{
    background-color:rgb(33, 82, 82);
}


.enlaces-pie__contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.enlaces-pie__lista li{
    list-style: none;
}


.pie{
display: flex;
justify-content: center;
font-size: 14px;
}

@media screen and (min-width: 769px) {

    /* Ocultar el botón de menú en pantallas grandes */
    .boton-menu {
        display: none;
    }

    /* Elementos del menú estén visibles en pantallas grandes */
    .navegacion-principal__menu {
        display: flex;
    }
}

@media screen and (max-width: 768px) {

    /* Mostrar el botón de menú solo en dispositivos móviles */
    .boton-menu {
        display: block;
    }

    .tarjetas-noticias {
        grid-template-columns: 1fr;
        /* esto es para que las 4 tagetas no se vean apiladas en dispositivos moviles */
    }

    /* Ocultar la navegación principal en dispositivos o pantallas mas pequeñas */
    .navegacion-principal__menu {
        display: none;
    }
}


/* Animación para el menú para que se aumente el tamaño de fuente al pasar el mouse */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Esto es para que el logo se mueva en cirulos  */
@keyframes moveInCircle {
    0% {
        transform: rotate(0deg) translate(50px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(50px) rotate(-360deg);
    }
}

/* Este es para que el logo Vibre cuando se hace click en algun enlace  */
@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    75% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(-2px, 2px);
    }
}

.vibrate {
    animation: vibrate 0.2s linear infinite;
}